@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

:root{
    --ducky-font-family: Arial, Helvetica, sans-serif;
    --ducky-text-color: white;
    --ducky-background-color: #202124;
    --ducky-primary-color: #00a1de;
}



html, body{
    margin: 0;
    color: var(--ducky-text-color);
    font-family: var(--ducky-font-family);
    background-color: var(--ducky-background-color);
}